.body {
    max-width: 100vw;
    background-color: #16171b;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png);
    background-position: 0 0;
    background-size: 200px 200px;
    font-family: var(--type-secondary);
    font-weight: 300;
    color: var(--primary--color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    position: relative;
    top: 0;
    position: fixed;
    color: var(--quarter--color);
    border-bottom: 2px var(--quarter--color) solid;
    margin: 0 0 10px 0;
    background-color: #16171b;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png);
    background-position: 0 0;
    background-size: 200px 200px;
    z-index: 4;
}

.nav__div--menuResponsive {
    display: none;
}

.nav__ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
    margin-right: 2%;
}

.nav__ul--li1 {
    color: var(--secondary--color);
    cursor: pointer;
    padding: 5px;
    font-weight: 300;
    font-family: var(--type-principal);
    font-size: 110%;
}

.nav__ul--li {
    color: var(--tertiary--color);
    cursor: pointer;
    font-weight: 300;
    font-family: var(--type-principal);
    font-size: 110%;
}

.nav__ul--li1:hover,
.nav__ul--li:hover {
    color: var(--primary--color);
    transition: color 1s;
}

.nav__div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    column-gap: 10px;
    font-family: var(--type-principal);
    color: var(--primary--color);
    font-size: 150%;
}

.nav__div__h4 {
    font-family: var(--type-principal);
    font-weight: 300;
}

.nav__div__h4:hover,
.bxl-linkedin:hover,
.bxl-github:hover {
    cursor: pointer;
    color: var(--fifth--color);
    transition: color 1s;
}

.nav__div__a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    margin-top: 10vh;
    display: grid;
    min-width: 100%;
    height: 90vh;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.section__article {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
}

.section__article--img {
    width: 100%;
    height: 100%;
}

.section__article--header {
    position: relative;
    display: flex;
    justify-self: flex-start;
    align-self: flex-end;
    margin-left: 10%;
}

.article__div--title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.article__div--h2 {
    font-family: var(--type-principal);
    font-size: 4vw;
    line-height: 1.4;
    font-weight: 300;
    color: var(--secondary--color);
    text-align: start;
    cursor: pointer;
    z-index: 2;
    text-align: start;
}

.article__h1 {
    color: var(--primary--color);
    font-family: var(--type-principal);
    font-size: 4vw;
    line-height: 1.4;
    font-weight: 300;
    cursor: pointer;
    z-index: 2;
}

.article__div--h2Span {
    font-size: 3vw;
}

.section__article--animate {
    width: 35vw;
    height: 35vw;
    border: 2px solid var(--primary--color);
    border-radius: 50%;
    position: relative;
    grid-column: 2/3;
    grid-row: 1/ 3;
    justify-self: center;
    align-self: center;
}

.section__article--ul {
    position: relative;
    left: -50%;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.article__ul--li {
    position: absolute;
    width: 5.43vw;
    height: 5.43vw;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 0 0 4px var(--primary--color), 0 0 0 4px var(--primary--color);
    transform: rotate(calc(360deg/5*var(--i)));
    transform-origin: 19.8vw;
    overflow: hidden;
    font-size: 3.59vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: #16171b;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png);
    background-position: 0 0;
    background-size: 200px 200px;
}

.article__ul--li>i {
    transform: rotate(calc(-360deg/5*var(--i)));
    transition: 0.5s;
}

.article__ul--active {
    box-shadow: 0 0 0 4px var(--fifth--color), 0 0 0 4px var(--fifth--color);
    border-radius: 50%;
}

.section__article--div {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__article--div::before {
    content: '';
    position: absolute;
    inset: 4.317vw;
    border: 4px solid transparent;
    border-left: 4px solid var(--primary--color);
    border-right: 4px solid var(--primary--color);
    border-radius: 50%;
    animation: animate_01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_01 {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.section__article--div::after {
    content: '';
    position: absolute;
    inset: 7.19vw;
    border: 4px solid transparent;
    border-left: 4px solid var(--sixth--color);
    border-right: 4px solid var(--fifth--color);
    border-radius: 50%;
    animation: animate_02 4s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate_02 {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.article__div--Bx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
}

.article__div--Bx.article__ul--active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.article__div--ulCard {
    width: 15.83vw;
    height: 15.83vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul__li--img {
    width: 4.317vw;
    height: 4.317vw;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ul__li--a {
    border-radius: 15px;
    width: 4.317vw;
    height: 4.317vw;
}

.li__a--img {
    min-width: 4.317vw;
}

.div__ul--li {
    font-family: var(--type-secondary);
    font-size: 1.289vw;
    color: var(--secondary--color);
    margin: 5px;
}

.div__ul--liSpan {
    color: var(--primary--color);
}

.section__article--aButton {
    padding: 0.75rem 0.6rem 0.6rem 0.75rem;
    border-radius: 0.31rem;
    background-color: var(--fifth--color);
    transition: opacity 200ms ease;
    color: #16171b;
    font-family: var(--type-principal);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    z-index: 2;
    font-size: 1.5vw;
    align-self: flex-start;
    justify-self: flex-start;
    width: auto;
    margin-left: 10%;
    margin-top: 20%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.main__section--AcercadeMi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: auto;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png), linear-gradient(90deg, #42312c, #452225);
    background-position: 0px 0px, 0px 0px;
    background-size: 200px, auto;
    border-radius: 15px;
    margin: 30px 0;
}

.main__section--article {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.article__h2 {
    font-size: 187.5%;
    align-self: flex-start;
    margin: 30px 0;
    cursor: pointer;
    font-family: var(--type-principal);
    font-weight: 300;
    text-align: center;
}

.article__h2:hover {
    color: var(--secondary--color);
    transition: 0.5s;
    cursor: pointer;
}

.article__p {
    font-size: 20px;
    align-self: flex-start;
    margin-bottom: 40px;
    font-family: var(--type-secondary);
    font-weight: 200;
}

.article__div--code {
    width: 60px;
    height: 60px;
    background-color: var(--fifth--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    align-self: flex-start;
    margin: 40px 0 30px 0;
}

.section__article--icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 11vw;
    column-gap: 40px;
    width: 40%;
    height: 100%;
}

.section__h2--big {
    font-size: 312.5%;
    font-weight: 300;
    font-family: var(--type-principal);
    font-weight: 300;
    margin: 40px 0 20px 0;
    text-align: center;
}

.section__h2--big:hover {
    color: var(--secondary--color);
    transition: 0.5s;
    cursor: pointer;
}

.main__section--MisHabilidades {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__ul {
    width: 100%;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
}

.section__ul--li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 450px;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png), linear-gradient(90deg, var(--quarter--color), var(--quarter--color));
    background-position: 0px 0px, 0px 0px;
    background-size: 200px, auto;
    border-radius: 15px;
    padding: 30px 30px;
}

.section__ul--li:hover {
    background-color: var(--tertiary--color);
    transition: 1s background-color;
    cursor: pointer;
}

.section__ul--div {
    width: 50px;
    height: 50px;
    background-color: var(--fifth--color);
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px 0px 30px 0;
}

.ul__li--h3 {
    font-family: var(--type-principal);
    font-size: 156.25%;
    font-weight: 300;
    margin-bottom: 22px;
}

.ul__li--p {
    font-family: var(--type-secondary);
    font-size: 125%;
    font-weight: 200;

}

.main__section--misEstudios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png), linear-gradient(90deg, var(--quarter--color), var(--quarter--color));
    background-position: 0px 0px, 0px 0px;
    background-size: 200px, auto;
    border-radius: 15px;
}

.main__section--h2 {
    font-size: 187.5%;
    align-self: flex-start;
    margin: 30px 30px 10px 30px;
    cursor: pointer;
}

.main__section--h2:hover {
    color: var(--secondary--color);
    transition: 0.5s;
    cursor: pointer;
}


.article__p--misEstudios {
    margin: 10px 30px 30px 30px;
    font-size: 125%;
    font-weight: 200;
    font-family: var(--type-secondary);
}

.main__section--porfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section__ul--porfolio {
    overflow: hidden;
    position: relative;
    margin: 10px 0 160px 0;
    width: 45vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--quarter--color);
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png);
    background-position: 0px 0px;
    background-size: 400px;
    border-radius: 15px;
}

.section__li--porfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.article__img--porfolio {
    width: 100%;
    border-radius: 15px;
    z-index: -1;
}

.section__li--porfolio::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    display: flex;
    background: rgb(22, 23, 27);
    background: linear-gradient(0deg, rgba(22, 23, 27, 1) 32%, rgba(27, 31, 31, 0.8869922969187675) 53%, transparent 100%);
    transition: all 1s;
}

.section__li--porfolio:hover::before {
    top: 0%;
    transition: all 1s;
}

.li__div--porfolio {
    position: absolute;
    top: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.section__li--porfolio:hover .li__div--porfolio {
    top: 0%;
    transition: 2s;
}

.div__h2--porfolio {
    font-size: 130%;
    font-family: var(--type-principal);
    font-weight: 300;
    color: var(--primary--color);
    margin: 10px 0 10px 60px;
    align-self: flex-start;
    text-transform: uppercase;
    background-color: var(--fifth--color);
    padding: 5px;
    border-radius: 10px;
}

.div__h2--porfolio:hover {
    transform: translateY(-5px);
    cursor: pointer;
    transition: all 1s;
}

.div__a--portafolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 220%;
    margin: 0 0 10px 60px;
}

.div__h3--porfolio {
    font-size: 120%;
    font-family: var(--type-principal);
    font-weight: 200;
    background-color: var(--fifth--color);
    border-radius: 10px;
    align-self: flex-start;
    margin: 0 60px 10px 60px;
    padding: 5px;
}

.div__ul--icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px 10px 60px;
}



.div__ul--liIcons:hover {
    transform: translateY(-10px);
    transition: all 1s;
    cursor: pointer;
}

.ul__li--imgPorfolio {
    margin: 10px 5px 10px 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.div__p--porfolio {
    font-family: var(--type-secondary);
    font-size: 120%;
    font-family: var(--type-secondary);
    font-weight: 200;
    margin: 20px 10px 0 60px;
}

.ul__input {
    display: none;
}

.section__li--slider {
    min-width: 100%;
    transition: 2s;
}

.li--navigationManual {
    position: absolute;
    width: 100%;
    margin-top: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.li--Manual {
    border: 2px solid var(--fifth--color);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    align-self: center;
}

.li--Manual:hover {
    background-color: var(--fifth--color);
}

#radio1:checked~.section__li--first {
    margin-left: 0;
}

#radio2:checked~.section__li--first {
    margin-left: -100%;
}

#radio3:checked~.section__li--first {
    margin-left: -200%;
}

#radio4:checked~.section__li--first {
    margin-left: -300%;
}

.li--navigationAuto {
    position: absolute;
    width: 100%;
    margin-top: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.li--btnAuto {
    border: 2px solid var(--fifth--color);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    align-self: center;
}

.li--btn1Auto:hover {
    background-color: var(--fifth--color);
}

#radio1:checked~.li--navigationAuto .li--btn1Auto {
    background-color: var(--fifth--color);
}

#radio2:checked~.li--navigationAuto .li--btn2Auto {
    background-color: var(--fifth--color);
}

#radio3:checked~.li--navigationAuto .li--btn3Auto {
    background-color: var(--fifth--color);
}

#radio4:checked~.li--navigationAuto .li--btn4Auto {
    background-color: var(--fifth--color);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px var(--quarter--color) solid;
}

.footer__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png), linear-gradient(90deg, #19332e, #1f3529);
    background-position: 0px 0px, 0px 0px;
    background-size: 200px, auto;
}

.main__footer--h2 {
    font-size: 312.5%;
    font-family: var(--type-principal);
    font-weight: 300;
    margin: 40px 0 0 0;
}

.main__footer--h2:hover {
    color: var(--secondary--color);
    transition: 0.5s;
    cursor: pointer;
}

.section__article--contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    column-gap: 180px;
    margin: 40px 0;
}

.section__article--a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 270px;
    height: auto;
}

.section__article--a:hover {
    opacity: 0.5;
    transition: opacity 1s;
}

.section__article--aContacto {
    background-color: var(--quarter--color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    font-size: 120px;
    width: 120px;
    height: 120px;
    padding: 30%;
    margin: 20px;
}

.section__article--h3 {
    font-family: var(--type-principal);
    font-weight: 300;
    font-size: 125%;
    margin: 0 0 20px 0;
}

.section__article--p {
    font-family: var(--type-secondary);
    font-weight: 200;
    font-size: 125%;
    margin: 0 0 20px 0;
    line-height: 0.8;
}

@media screen and (max-width: 900px) {
    .nav__div--menuResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary--color);
        font-size: 40px;
        margin-right: 5%;
    }

    .nav__ul {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 0vh;
        overflow: hidden;
        font-size: 120%;
        top: 10vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        row-gap: 40px;
        background-color: #16171b;
        background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png);
        background-position: 0 0;
        background-size: 200px 200px;
        padding: 0 0 0 2%;
        transition: height 1s;

    }

    .nav__ul--toggle {
        height: 60vh;
        overflow: scroll;
        transition: height 0.5s;
        padding: 20px 0 40px 2%;
    }

    .section {
        grid-template-columns: 3fr;
        grid-template-rows: 1fr 2fr 0.5fr;
        max-width: 100vw;
    }

    .section__article--animate {
        grid-column: 1/2;
        grid-row: 2/ 3;
        justify-self: center;
        align-self: center;
    }

    .section__article--header {
        margin: 0;
        justify-self: center;
        align-self: center;
    }

    .article__div--h2,
    .article__h1 {
        font-size: 4.5vw;
    }

    .article__div--h2Span {
        font-size: 3.375vw;
    }

    .section__article--aButton {
        justify-self: center;
        align-self: center;
        margin: 0;
        font-size: 2.5vw
    }

    .section__article--icons {
        flex-direction: column;
        row-gap: 50px;
    }

    .section__ul--liNone {
        display: none;
    }

    .section__ul--porfolio {
        width: 90vw;
    }

    .li__div--porfolio {
        top: 45vw;
    }

    .li--navigationManual,
    .li--navigationAuto {
        margin-top: 80vw;
        column-gap: 20px;
    }

    .li--Manual,
    .li--btnAuto {
        padding: 5px;
        border-radius: 50%;
    }

    .section__article--contacto {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .article__div--h2,
    .article__h1 {
        font-size: 8vw;
    }

    .article__div--h2Span {
        font-size: 6vw;
    }

    .section__article--animate {
        width: 80vw;
        height: 80vw;
    }

    .article__ul--li {
        width: 12.41vw;
        height: 12.41vw;
        transform-origin: 45.25vw;
        font-size: 8.20vw;
    }

    .section__article--div::before {
        inset: 10vw;
    }

    .section__article--div::after {
        inset: 16vw;
    }

    .article__div--ulCard {
        width: 36.18vw;
        height: 36.18vw;

    }

    .article__div--ulCard li:nth-child(3) {
        display: none;
    }

    .ul__li--img {
        width: 9.86vw;
        height: 9.86vw;
    }

    .ul__li--a {
        width: 9.86vw;
        height: 9.86vw;
    }

    .li__a--img {
        min-width: 12vw;
    }

    .div__ul--li {
        font-size: 5vw;
    }

    .section__article--aButton {
        font-size: 6vw;
    }

    .main__section--AcercadeMi {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main__section--article {
        width: 90%;
        margin: 20px;
        justify-content: center;
        align-items: flex-start;
    }

    .section__article--icons {
        flex-direction: row;
        font-size: 20vw;
        column-gap: 30px;
        margin: 0 0 30px 0;
    }

    .section__h2--big,
    .section__h2--big {
        font-size: 250%;
    }

    .li__div--porfolio {
        top: 50vw;
    }

    .div__h2--porfolio {
        font-size: 110%;
        margin: 0 0 10px 10px;
        text-transform: uppercase;
    }

    .div__a--portafolio,
    .div__h3--porfolio,
    .div__ul--icons,
    .div__p--porfolio {
        margin: 10px 0 10px 10px;
    }

    .div__p--porfolio {
        display: none;
    }

    .section__ul--li {
        height: 90vw;
        padding: 10px;
        align-items: flex-start;
    }

    .ul__li--h3 {
        font-size: 110%;
    }

    .ul__li--p {
        font-size: 100%;
    }

    .section__article--aContacto {
        font-size: 50px;
        padding: 0;
    }

}