.body,
.header {
    background-color: #16171b;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png);
    background-position: 0 0;
    background-size: 200px 200px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--primary--color);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 10vh;
    top: 0;
    font-weight: 400;
    font-size: 1.2rem;
    position: fixed;
    color: var(--quarter--color);
    border-bottom: 2px var(--quarter--color) solid;
    background-color: #16171b;
    background-image: url(./images/631a5d4631d4c55a475f3e34_noise-50.png);
    background-position: 0 0;
    background-size: 200px 200px;
    z-index: 2;
}

.nav__ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
    margin-right: 2%;
}

.nav__ul--li1 {
    color: var(--secondary--color);
    cursor: pointer;
    height: auto;
    width: auto;
    padding: 5px;
}

.nav__ul--li {
    cursor: pointer;
    color: var(--tertiary--color);
}

.nav__ul--li1:hover,
.nav__ul--li:hover {
    color: var(--primary--color);
    transition: color 1s;
}

.nav__div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    column-gap: 20px;
    color: var(--primary--color);
    font-size: 1.2rem;
}

.nav__div__h4 {
    font-weight: 600;
    font-size: 1.5rem;
}

.nav__div__h4:hover,
.bxl-linkedin:hover,
.bxl-github:hover {
    cursor: pointer;
    color: var(--fifth--color);
    transition: color 1s;
}

.nav__div__a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.section {
    margin-top: 10vh;
    width: 100%;
    height: 90vh;
    position: relative;
}

.section__article {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
}

.section__article--img {
    width: 100%;
    height: 100%;
}

.section__article--parallax {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__div--title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.article__div--h1 {
    font-family: var(--type-principal);
    font-size: 4.5rem;
    line-height: 1.4;
    font-weight: 300;
    color: var(--secondary--color);
    text-align: start;
    cursor: pointer;
    z-index: 2;
}

.article__h1--div {
    color: var(--primary--color);
    z-index: 2;
}

.article__div--a {
    margin-top: 5%;
    padding: 0.75rem 0.6rem 0.6rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--fifth--color);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #16171b;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    z-index: 2;
}

.article--front,
.article--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article--front {
    z-index: 2;
    font-size: 50px;
}

.article--intermediate{
    z-index: 1;
    font-size: 40px;
}

.article--back {
    z-index: 0;
    font-size: 32px;
}

.article__div--front {
    position: absolute;
    width: 70px;
    height: 70px;
    color: var(--tertiary--color);
    background-color: var(--quarter--color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.article__div--back {
    position: absolute;
    width: 45px;
    height: 45px;
    color: var(--tertiary--color);
    background-color: var(--quarter--color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12.5px;
   }

.article__div--Front1 {
    top: 12%;
    left: 10%;
}

.article__div--Front2 {
    top: 8%;
    left: 40%;
}

.article__div--Front3 {
    top: 20%;
    left: 70%;
}

.article__div--Front4 {
    top: 70%;
    left: 20%;
}

.article__div--Front5 {
    top: 80%;
    left: 60%;
}

.article__div--Front6 {
    top: 60%;
    left: 70%;
}

.article__div--Front7 {
    top: 75%;
    left: 40%;
}

.article__div--Front8 {
    top: 60%;
    left: 2%;
}

.article__div--Back1 {
    top: 20%;
    left: 30%;
}

.article__div--Back2 {
    top: 5%;
    left: 70%;
}

.article__div--Back3 {
    top: 70%;
    left: 80%;
}

.article__div--Back4 {
    top: 80%;
    left: 90%;
}

.article__div--Back5 {
    top: 2%;
    left: 10%;
}


.article__div--Back6 {
    top: 50%;
    left: 20%;
}

.article__div--Back7 {
    top: 40%;
    left: 10%;
}

.article__div--Back8 {
    top: 30%;
    left: 80%;
}

.article__div--Back9 {
    top: 20%;
    left: 90%;
}

.article__div--Back10 {
    top: 80%;
    left: 2%;
}

.article__div--Back11 {
    top: 70%;
    left: 60%;
}

.article__div--none {
    background-color: rgba(255, 255, 255, 0);
    border: 1px rgba(255, 255, 255, 0.267) solid;
}

.article__div--transparent {
    background-color: rgba(255, 255, 255, 0.267);
    border: 0px #ffffff00 solid;
}